@use "../../utils/breakpoints" as bp;
@use "../../styles/variables" as colors;

.create-recipe {
  &__title {
    margin: 30px 50px 20px 0;
    font-size: 40px;
    font-weight: bold;
  }

  &__numeric-inputs {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    align-items: start;

    @include bp.mobile {
      justify-content: center;
      gap: 40px;
    }
  }

  &__difficulty-label {
    margin: 0;
  }

  &__ingredients-steps {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
  }
}

.submit-container {
  margin-bottom: 30px;
  text-align: center;

  &__button {
    margin: 20px 50px;
    width: 60%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: colors.$color-success;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
  }
}
