@use "../../styles/variables" as colors;

.delete-dialog {
  &__title {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: colors.$color-error;
    font-weight: 600 !important;
  }

  &__icon {
    color: colors.$color-warning;
    font-size: 28px !important;
  }

  &__warning {
    margin-top: 1rem !important;
    font-size: 0.875rem !important;
    color: colors.$neutral-dark-gray !important;
    font-style: italic;
  }

  &__actions {
    padding: 1rem 1.5rem !important;
  }
}
