$mobile: 480px; // Most modern smartphones
$tablet: 768px; // iPads and standard tablets
$desktop: 1024px; // Laptops and small monitors
$large-desktop: 1440px; // Standard monitors
$extra-large-desktop: 1920px; // Large monitors

@mixin mobile {
  @media (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin mobile-up {
  @media (min-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop-only {
  @media (min-width: #{$desktop}) and (max-width: #{$large-desktop - 1px}) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: #{$large-desktop}) {
    @content;
  }
}

@mixin large-desktop-only {
  @media (min-width: #{$large-desktop}) and (max-width: #{$extra-large-desktop - 1px}) {
    @content;
  }
}

@mixin extra-large-desktop {
  @media (min-width: #{$extra-large-desktop}) {
    @content;
  }
}

// Custom mixins for specific ranges
@mixin between($min, $max) {
  @media (min-width: #{$min}) and (max-width: #{$max - 1px}) {
    @content;
  }
}

@mixin from($breakpoint) {
  @media (min-width: #{$breakpoint}) {
    @content;
  }
}

@mixin until($breakpoint) {
  @media (max-width: #{$breakpoint - 1px}) {
    @content;
  }
}
