@use "../../utils/breakpoints" as bp;

.breadcrumbs-spacer {
  padding: 10px 0;
  position: sticky;
  top: 64px;
  z-index: 10;
  background-color: white;

  @include bp.mobile {
    padding-left: bp.$min-page-margin;
  }
}

.breadcrumbs {
  font-size: 0.8rem;

  .breadcrumbs__link {
    color: #233d4d;
    cursor: pointer;
    font-size: 0.8rem;

    &:hover {
      color: #fe7f2d;
    }
  }

  .breadcrumbs__current {
    color: #666;
    font-size: 0.8rem;
  }
}
