@use "../../utils/breakpoints" as bp;
@use "../../styles/variables" as v;

.recipe-card {
  width: 100%;

  @include bp.mobile {
    .MuiCard-root {
      border-radius: 0 !important;
    }
  }

  .MuiCardHeader-content {
    min-width: 0;
  }

  .MuiCardContent-root:last-child {
    padding-bottom: 12px;
  }

  .MuiCardHeader-title {
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid #e0e0e0;
    padding-top: 8px;
  }

  &__bookmark-icon--active {
    color: v.$secondary-light;
  }

  &__icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    flex: 1;

    & + & {
      border-left: 1px solid #e0e0e0;
    }

    &__icon {
      font-size: 22px !important;
    }

    &__difficulty {
      display: flex;
      align-items: center;
      padding-left: 3px;
    }

    &__label {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 0.65rem !important;
      letter-spacing: 0.05em;
      text-align: center;
    }
  }
}
